/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body{
    background: white;
}
#header{
    height: 10vh;
  

}

h1{
    color: black;
}
.ui-btn-left{
    float: left;

}
.ui-icon-home:after {
    background-image: url("../img/home.png");
    background-position: center;
    background-size: contain;
    height: 18px;
    width: 18px;
}
#menu-items {
    display: none;
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    z-index: 999;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
/* margin-top: 2rem; */
  }
  #content{
padding: 2rem 0.6rem;
    height: 75vh;
    overflow: scroll;
  }
  #local-data-content{
    padding: 2rem 0.6rem;
    height: 75vh;
    overflow: scroll;
  }
  footer{
   height: 15vh;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
